@font-face {
    font-family: 'encode_sans_expandedblack';
    src: url('assets/fonts/encodesansexpanded-black-webfont.woff2') format('woff2'),
         url('assets/fonts/encodesansexpanded-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'encode_sans_expandedbold';
    src: url('assets/fonts/encodesansexpanded-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/encodesansexpanded-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'encode_sans_expandedlight';
    src: url('assets/fonts/encodesansexpanded-light-webfont.woff2') format('woff2'),
         url('assets/fonts/encodesansexpanded-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'encode_sans_expandedregular';
    src: url('assets/fonts/encodesansexpanded-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/encodesansexpanded-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Raleway-Light';
    src: url('assets/fonts/Raleway-Light.woff2') format('woff2'),
         url('assets/fonts/Raleway-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('assets/fonts/Raleway-Regular.woff2') format('woff2'),
         url('assets/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('assets/fonts/Raleway-Bold.woff2') format('woff2'),
         url('assets/fonts/Raleway-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Black';
    src: url('assets/fonts/Raleway-Black.woff2') format('woff2'),
         url('assets/fonts/Raleway-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}