@font-face {
    font-family: 'AkzidenzGrotesk';
    src: url('assets/fonts/AkzidenzGrotesk.woff2') format('woff2'),
         url('assets/fonts/AkzidenzGrotesk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}


@font-face {
    font-family: 'roboto-bold-webfont';
    src: url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
