a {
    text-decoration: none;
    cursor: pointer;
    color: $text-color-light;
    
    &.link {
        &--underline {
            text-decoration: underline;
            color: $text-color;
        }
    }
}

p {
    margin-bottom: 1rem;

    @include breakpoints(medium) {
        margin-bottom: 2rem;
    }
}

small {
    font-size: 1.4rem;
    line-height: 1.4;
}

ol,
ul {
    padding-left: 5rem;
    margin-bottom: 2rem;

    li {
        margin-bottom: 1rem;
    }
}

ul {
    &.no-list-style {
        li {
            margin-bottom: 0;
            list-style: none;
        }
    }

    li {
        list-style-type: disc;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $font-family-secondary;
    color: $text-color;

}

h1,
.h1 {
    font-size: 2.5913rem;

    @include breakpoints(s-large) {
        font-size: 3.5913rem;
        
    }
}

h2,
.h2 {
    font-size: 2rem;
    
    @include breakpoints(s-large) {
        font-size: 2.2291rem;
    }
}

h3,
.h3 {
    font-size: 1.6rem;
    
    @include breakpoints(s-large) {
        font-size: 1.8rem;
    }
}

h4,
.h4 {
    font-size: 1.6rem;
}

h5,
.h5 {
    font-size: 1.4rem;

}

h6,
.h6 {
    font-size: 1.2rem;
}

.line-through {
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

.fs-x-small {
    font-size: 1.1rem;

    @include breakpoints(s-large) {
        font-size: .8669rem;
    }
}

.fs-xx-small {
    font-size: 1rem;

    @include breakpoints(s-large) {
        font-size: 0.743rem;
        line-height: 1.0625rem;
    }
}
