.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(7,29,43,0.98);
    color: $text-color-light;
    position: fixed;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // transition: transform .25s linear;
    transition: all .25s ease-in-out;
    transform: scale3d(0.8, 0.8, 0.8);
    will-change: transform;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    // align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;
    opacity: 0;

    &.is-open {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    .link {
        text-decoration: underline;
        color: $text-color-light;

        &:hover {
            text-decoration: none;
        }
    }

    .sw-step {
        border: solid 1px #fff;
        border-radius: 1rem;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        word-break: break-word;

        &__num {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $accent-color;
            color: $tertiary-color;
            font-family: $font-family-bold;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -1.5rem;
        }
    }

    &__close {
        color: #b8c1c7;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: .75rem;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        max-width: fit-content;
        cursor: pointer;
        transition: all .2s ease-in-out;
        font-family: $font-family-bold;

        &:hover {
            color: $text-color-light;

            .icon {
                fill: $text-color-light;
            }
        }

        .icon {
            width: 13px;
            height: 13px;
            fill: #b8c1c7;

        }
    }

}