.btn {
    padding: 1.2rem 2rem;
    white-space: pre-wrap;
    line-height: 1.2;
    cursor: pointer;
    border: 0;
    outline: none;
    text-align: center;
    display: inline-block;
    transition: ease background-color .3s;
    border-radius: 4px;
    font-family: $font-family-medium;
    font-size: 2rem;

    &--sm {
        font-size: 1.4rem;
        padding: 1.2rem 1rem;
        
    }


    &--primary {
        background-color: $accent-color;
        color: $text-color;

        &:hover {
            background-color: $accent-color-light;
        }
    }

    &--secondary {
        background-color: $color-white;
        color: $color-black;
        border: 1px solid $color-black;

        &:hover {
            background-color: $senary-color;
            border-color: $senary-color;
            color: $color-white;
        }
    }


}