a {
    text-decoration: none;
    cursor: pointer;
    color: $primary-color;

    &.link {
        position: relative;
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        

        &:before, &:after {

            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $primary-color;
            bottom: 0;
            right: 0;
            content: '';
            transition: all .3s ease-in-out;
        }

        &:before {
            background-color: $accent-color;
            left: -100%;
            right: unset;
        }

        &:hover {
            color: $text-color;

            &:after {
                right: -100%;
            }

            &:before {
                left: 0;
                transition-delay: .5s;
            }
        }
    }
}

p {
    margin-bottom: 1rem;
    line-height: 1.5;

    @include breakpoints(medium) {
        margin-bottom: 2rem;
    }
}

.text-md {
    font-size: 1.8rem;
}

.text-lg {
    font-size: 2.2rem;
}

strong {
    font-weight: 700;
}

.bold {
    font-weight: bold;
}

ol,
ul {
    padding-left: 5rem;
    margin-bottom: 2rem;

    li {
        margin-bottom: 1rem;
    }
}

ul {
    &.no-list-style {
        li {
            margin-bottom: 0;
            list-style: none;
        }
    }

    li {
        list-style-type: disc;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-family: $font-family-heading;
}

h1,
.h1 {
    font-size: 4rem;

    @include breakpoints(s-large) {
        font-size: 5.2rem;
    }
}

h2,
.h2 {
    font-size: 3rem;
    
    @include breakpoints(s-large) {
        font-size: 4rem;
    }
}

h3,
.h3 {
    font-size: 2.6rem;
    
    @include breakpoints(s-large) {
        font-size: 3rem;
    }
}

h4,
.h4 {
    font-size: 2.2rem;

    @include breakpoints(s-large) {
        font-size: 2.4rem;
    }
}

h5,
.h5 {
    font-size: 2rem;

    @include breakpoints(s-large) {
        font-size: 2.2rem;

    }
}

h6,
.h6 {
    font-size: 1.6rem;

    @include breakpoints(s-large) {
        font-size: 1.8rem;
    }
}


.font-xl {
    font-size: 5.2rem;
}

.fs-x-small {
    font-size: 1.2rem;
}

.text-light {
    color: $color-white;
}

.text-fine {
    color: $primary-color;
}

.text-danger {
    color: $danger;
}

.line-through {
    text-decoration: line-through;
}

.heading-text {
    font-family: $font-family-heading;
}

.uppercase {
    text-transform: uppercase;
}
