.listing {
    max-width: fit-content;
    &__item {
        list-style-type: none;
    }

    &__icon {
        width: 18px;
        height: 18px;
        fill: $color-white;
    }

    &__content {
        color: $color-white;
        opacity: .7;
        font-size: 1.8rem;
    }
}