            <footer class="layout-section footer pt-5">

                <div class="container container--medium">
                    <div class="row pt-5 justify-content-center">
                        
                        <div class="col-12 col-sm-6 col-lg-4">
                            <input type="checkbox" id="js-footer-menu2" class="d-none footer__checkbox-toogle">
                            <label for="js-footer-menu2" class="header header--has-toggle-mobile mb-3">Help &amp; Support</label>
                            <ul id="menu-help-support" class="footer__menu  js-footer-menu2">
                                
                                <li id="menu-item-3817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3817"><a href="/contact/">Contact Us</a></li>
                                <li id="menu-item-3815" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3815"><a href="/help/">Help</a></li>
                                <li id="menu-item-3819" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3819"><a href="/no-logs-policy/">No Logs Policy</a></li>
                                <li id="menu-item-3821" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3821"><a href="/about/">About Us</a></li>
                
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <input type="checkbox" id="js-footer-menu3" class="d-none footer__checkbox-toogle">
                            <label for="js-footer-menu3" class="header header--has-toggle-mobile mb-3">Legal</label>
                            <ul id="menu-legal" class="footer__menu  js-footer-menu3">
                                <li id="menu-item-3825" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3825"><a href="/privacy/">Privacy Policy</a></li>
                                <li id="menu-item-3827" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3827"><a href="/terms/">Terms of Service</a></li>
                            </ul>
                            <div class="header mt-3 mt-md-5">Language</div>
                            <div class="row">
                                <div class="col-12 col-sm-10">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__divider mb-5 mt-5"></div>
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <p class="text-align-center mb-5">© 2012-2022 HotBot.com</p>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
    </body>

</html>