<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lander</title>
    <link rel="stylesheet" href="css/style.css">
    </link>
    <script src="js/common.min.js"></script>
</head>
<body>
    <main class="main">
        <div class="svg-sprite" id="svg-icons"></div>
        <nav class="nav">
            <div class="container nav__container d-flex align-items-center justify-content-between">
                <a href="" class="site-brand">
                    <!-- <img src="img/logo.svg" width="220" height="61" class="logo" alt="hotbot logo" /> -->
                    <img src="img/logo-white.svg" width="220" height="61" class="logo" alt="hotbot logo" />
                    <img src="img/logo-light-bg.svg" width="200" height="41" class="logo logo--2" alt="hotbot logo" />
                </a>
                <div class="nav__menu-container  d-flex align-items-center mr-xl-5">
                    <input type="checkbox" class="d-none nav__menu-checkbox" id="toggleDropdownMenu" />
                    <label for="toggleDropdownMenu" class="nav__menu-toggle align-items-center" id="menuToggle">
                        <svg class="icon mr-3"><use xlink:href="#icon-globe-solid"></use></svg>
                        EN
                    </label>
                    <ul class="nav__dropdown-menu" id="langMenu">
                        <li><a><span>English</span></a></li>
                        <li><a><span>简体中文</span></a></li>
                        <li><a><span>Français</span></a></li>
                        <li><a><span>Deutsch</span></a></li>
                        <li><a><span>Indonesian</span></a></li>
                        <li><a><span>Português</span></a></li>
                        <li><a><span>Pусский</span></a></li>
                        <li><a><span>Español</span></a></li>
                        <li><a><span>Türkçe</span></a></li>
                        <li><a><span>polski</span></a></li>
                        <li><a><span>Italiano</span></a></li>
                        <li><a><span>Українська</span></a></li>
                    </ul>
    
                    <a href="" class="btn btn--sm btn--secondary ml-md-4 pl-4 pr-4">Get HotBot VPN</a>
                </div>
            </div>
        </nav>