<div class="modal p-3" id="modal">
    <div class="modal__backdrop"></div>
    <div class="modal__content d-flex justify-content-end">
        <div class="d-none d-sm-block col-sm-4 modal__bg-img" style="background-image: url('img/browse.jpg');"></div>
        <div class="p-5 col-12 col-sm-8">
            <div class="modal__close"><svg class="icon"><use xlink:href="#icon-x"></use></svg></div>
            <span class="h5 text-color">Limited Time Offer</span>
            <h2 class="modal__title h1">Try Hotbot VPN Free for 7 Days</h2>
            <p class="mb-3 h5 text-color">100% Online Anonymity + Guaranteed Protection</p>
            <ul class="listing listing--sm  mb-4">
                <li class="listing__item d-block mb-2">
                    <div class="d-flex">
                        <svg class="icon d-block mr-3 mt-1"><use xlink:href="#icon-check"></use></svg>
                        <span>Keep your browsing history private</span>
                    </div>
                </li>
                <li class="listing__item d-block mb-2">
                    <div class="d-flex">
                        <svg class="icon d-block mr-3 mt-1"><use xlink:href="#icon-check"></use></svg>
                        <span>Blazing fast speeds with no bandwidth limits</span>
                    </div>
                </li>
                <li class="listing__item d-block mb-2">
                    <div class="d-flex">
                        <svg class="icon d-block mr-3 mt-1"><use xlink:href="#icon-check"></use></svg>
                        <span>Protect up to 6 devices with one subscription</span>
                    </div>
                </li>
            </ul>

            <a href="" class="btn btn--primary mb-3"><span class="d-flex align-items-center justify-content-center">Get 7 Days Free VPN <svg class="icon d-block ml-3"><use xlink:href="#icon-arrow-right"></use></svg></span></a>
        </div>
    </div>
</div>