@font-face {
    font-family: 'BalooTamma-Regular';
    src: url('assets/fonts/BalooTamma-Regular.woff2') format('woff2'),
         url('assets/fonts/BalooTamma-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}


@font-face {
    font-family: 'Baloo2-Regular';
    src: url('assets/fonts/Baloo2-Regular.woff2') format('woff2'),
         url('assets/fonts/Baloo2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
