//responsive breakpoints
$breakpoints: (
    x-small: 320px,
    small: 480px,
    s-medium: 576px,
    medium: 768px,
    s-large: 992px,
    large: 1024px,
    m-large: 1300px,
    x-large: 1600px,
    xx-large: 2800px,
);

$color-white: #ffffff;

$primary-color: #4cb649;

$danger: #e93b76;



// text color
$text-color: #2e2f2e;
$text-color-light: #c9c9c9;
$text-color-dark: #263238;

// used on footer, parent style, don't remove
$text-color-4: #ced0d8;
$text-color-5: #385b83;
$secondary-color: #09225e; 
$secondary-color-darken: #141f39;
$quarternary-color: #374056;

$section-bg1: #232437;
$section-bg2: #1c1d2c;
$section-bg3: #161723;
$section-bg4: #202132;


$themes: (
    light: (
        backgroundLight: #fff,
    ),
    dark: (
        backgroundLight: #000,
    ),
);

$font-family: 'Baloo2-Regular', arial, sans-serif !important;
