            <footer class="layout-section footer pt-5 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <a href="" class="site-brand mb-4 mt-3">
                                <img src="img/logo-footer.svg" class="logo" alt="hotbot logo" />
                            </a>
                            <div class="row">
                                <div class="col-sm-10">
                                    <p class="text-align-center--sm">HotBot proxy search. Protect your web searching on
                                        additional level.
                                        Free to use.</p>
                                </div>
                            </div>



                            <h6 class="header text-align-center--sm">Follow Us</h6>

                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <h6 class="header header--has-toggle-mobile js-open-dropdownStatic"
                                data-target=".js-footer-menu1">Explore HotBotVPN</h6>
                            <ul class="footer__menu js-dropdownStatic js-footer-menu1">
                                <li>
                                    <a href="">Do I Need a VPN?</a>
                                </li>
                                <li>
                                    <a href="">5 Big Reasons to Use a VPN</a>
                                </li>
                                <li>
                                    <a href="">How to Properly Browse the Internet Anonymously</a>
                                </li>
                                <li>
                                    <a href="">Avoid Censorship by Using a VPN</a>
                                </li>
                                <li>
                                    <a href="">Risks of Using Public Wi-Fi Without a VPN</a>
                                </li>
                                <li>
                                    <a href="">Can I Trust My Internet Service Provider?</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <h6 class="header header--has-toggle-mobile js-open-dropdownStatic"
                                data-target=".js-footer-menu2">Help & Support</h6>
                            <ul class="footer__menu js-dropdownStatic js-footer-menu2">
                                <li>
                                    <a href="">No Logs Policy</a>
                                </li>
                                <li>
                                    <a href="">Contact Us</a>
                                </li>
                                <li>
                                    <a href="">Downloading Torrents with a VPN</a>
                                </li>
                                <li>
                                    <a href="">Use uTorrent Plus HotBotVPN for Safe Downloading</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">


                            <h6 class="header header--has-toggle-mobile js-open-dropdownStatic"
                                data-target=".js-footer-menu3">Legal</h6>
                            <ul class="footer__menu js-dropdownStatic js-footer-menu3">
                                <li>
                                    <a href="">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="">Privacy Policy</a>
                                </li>

                            </ul>



                            <h6 class="header mt-3 mt-md-5">Language</h6>
                            <div class="row">
                                <div class="col-12 col-sm-10">
                                    <div class="form mt-4">
                                        <form>
                                            <select>
                                                <option>English</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer__copy-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>© 2012-2020 HotBot.com</p>
                            </div>
                            <div class="col-sm-6">
                                <ul class="footer__payments">
                                    <li><img loading=lazy src="img/card-american-express.svg" /></li>
                                    <li><img loading=lazy src="img/card-discover.svg" /></li>
                                    <li><img loading=lazy src="img/card-mastercard.svg" /></li>
                                    <li><img loading=lazy src="img/card-visa.svg" /></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            </main>
            </body>

            </html>