<section class="layout-section layout-section--gredient pt-5 pb-5 pt-md-7 pb-md-7">
    <div class="container text-align-center">
        <div class="row justify-content-center">
            <div class="col-sm-9">
                <p>Don't have an account yet?</p>
                <h2 class="heading mb-5">Start protecting <span>your privacy</span></h2>
                <a href="" class="btn btn--primary has-arrow m-auto"><span>Get Hotbot VPN Now!
                    <svg class="icon icon-right"><use xlink:href="#long-arrow-alt-right-solid"></use></svg></span></a>
                <ul class="listing mt-5 mb-3">
                    <li class="centered">
                        <svg class="listing__icon"><use xlink:href="#check-circle-solid"></use></svg>
                        <div class="listing__content">
                        <p>30-day money-back guarantee</p>
                        </div>
                    </li>
                    </ul>
            </div>
        </div>
    </div>
</section>