<section class="layout-section layout-section--primary-bg">
    <div class="container">
        <div class="ip-checker js--ip-checker">
            <ul>
                <li>Your IP: 123.45.678.910 (United States)</li>
                <li class="d-none d-md-block">Your ISP: Level 3 Communications</li>
                <li>Your Status: Unprotected</li>
                <li><a href="">Get Protected</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="layout-section">
    <div class="container">
        <nav>
            <a href="" class="site-brand">
                <img src="img/logo-light-bg.svg" class="logo" alt="hotbot logo" />
            </a>
            <div class="menu-toggle js--menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-wrap js--navbar-wrap">
                <div class="menu">
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Features</a></li>
                        <li class="menu-item-has-children js--submenu-toggle">
                            <a>Apps</a>
                            <ul class="sub-menu">
                                <li><a href="">Android</a></li>
                                <li><a href="">iOS</a></li>
                                <li><a href="">Windows</a></li>
                                <li><a href="">Mac</a></li>
                                <li><a href="">Android TV</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children js--submenu-toggle">
                            <a href="">Help</a>
                            <ul class="sub-menu">
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Guides</a></li>
                            </ul>
                        </li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">My Account</a></li>
                        <li class="btn-link"><a href="">Order Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>
