input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='number'],
textarea,
select {
    font-family: $font-family;
    padding: 1rem 2rem;
    text-align: left;
    width: 100%;
    border: 1px solid lighten($text-color, 30%);
    border-radius: 3px;
    transition: border 0.2s ease-out, box-shadow 0.2s ease-out;
    background: $color-white !important;
    outline: none;
    font-size: 1.6rem;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
        box-shadow: 0 0 0 1px #7899ea, 0 0 0 5px rgba(106, 145, 236, 0.33%);
        border-color: transparent;
    }

    &::-webkit-input-placeholder {
        font-family: $font-family;
        font-size: 1.6rem;
    }
    &:-moz-placeholder {
        font-family: $font-family;
        font-size: 1.6rem;
    }
    &::-moz-placeholder {
        font-family: $font-family;
        font-size: 1.6rem;
    }
    &:-ms-input-placeholder {
        font-family: $font-family;
        font-size: 1.6rem;
    }

    &.no-border {
        border: transparent !important;
        outline: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

textarea {
    height: auto;
    min-height: 100px;
}

input[type='submit'] {
    @extend .btn;
    @extend .btn--primary;
    width: auto;
    border: 2px solid $primary-color;
    width: 100%;

    padding: 1.2rem !important;
    padding-top: 1.4rem !important;
}

.form {
    &__group {
        display: block;
        position: relative;

        .block {
            display: block;
        }

        .icon-arrow {
            font-size: 2rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1.5rem;
            pointer-events: none; 
        }

        .has-icon {
            font-size: 2rem;
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1.5rem;
            cursor: pointer;
            fill: $text-color;

            &--password {

                svg {
                    width: 2rem;
                    height: 2rem;
                    fill: $text-color;
                }

                .togglePassword-show {
                    display: none;
                }

                &.show {
                    .togglePassword-hidden {
                        display: none;
                    }

                    .togglePassword-show {
                        display: block;
                    }
                }
            }
        }

    }

    &__control {
        width: 100% !important;
        display: block;

        &.sm-text {
            font-size: 1.4rem;
        }

        &.focused {

            ~ .form__label-offset {
                top: -8px;
                font-size: 1.2rem;
                background-color: #fff;
                height: 1.2rem;
                padding: 0 .5rem;
                left: 1.6rem;
            }
        }

        &--sm {
            padding: 1rem 2rem;

            + .icon-arrow {
                top: 1.1rem;
            }
        }

    }

    .wpcf7-response-output {
        margin: 0;
        font-size: 1.6rem;
    }

    .wpcf7-not-valid-tip {
        font-size: 1.6rem;
    }

    &__label {
        display: flex;
        justify-content: space-between;

        .hint {
            width: 20px;
            height: 20px;
            background-color: lighten($text-color, 30%);
            color: $color-white;
            padding: 2px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        &-offset {
            position: absolute;
            bottom: 1.5rem;
            left: 2rem;
            font-size: 1.4rem;
            transition: all .2s ease-in-out;
            pointer-events: none;

            &.active {
                top: -8px;
                font-size: 1.2rem;
                background-color: #fff;
                height: 1.2rem;
                padding: 0 .5rem;
                left: 1.6rem;
            }
        }

        &.sm-text {
            font-size: 1.4rem;
        }
    }
}

.radio-style {
    width: 20px;
    height: 20px;
    border: 1px solid lighten($text-color, 30%);
    border-radius: 50%;
    display: flex;
    position: relative;
    transition: all 0.3s ease-out;
    background-color: #f3f6f7;

    @include breakpoints(medium) {
        width: 25px;
        height: 25px;
    }

    &:before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #f3f6f7;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include breakpoints(medium) {
            width: 11px;
            height: 11px;
        }
    }

    &.checked {
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

input[type='radio']:checked + {
    .card .radio-style {
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

#card-element {
    border: 1px solid #a9a9b2;
    border-radius: 3px;
    padding: 1.5rem;
}

.wpcf7 form .wpcf7-response-output {
    margin-top: 0 !important;
}