table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;

    tr {
        td, th {
            padding: .8rem 1.5rem;
            border: 1px solid #dee2e6;
            line-height: 3rem;
            

            &.break-words {
                word-break: break-all;
            }
        }

        th {
            text-align: left;
        }


    }
}

.table-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}