@font-face {
    font-family: 'MierB-Regular';
    src: url('assets/fonts/MierB-Regular.woff2') format('woff2'),
         url('assets/fonts/MierB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MierB-Bold';
    src: url('assets/fonts/MierB-Bold.woff2') format('woff2'),
         url('assets/fonts/MierB-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MierB-Black';
    src: url('assets/fonts/MierB-Black.woff2') format('woff2'),
         url('assets/fonts/MierB-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

