.footer {
    background-color: $secondary-color-darken;
    color: $text-color-5;
    font-size: 1.4rem;


    p {
        line-height: normal;
    }

    .site-brand {
        display: block;
        width: 47px;
        height: 32px;
        position: relative;
        overflow: hidden;

        @include breakpoints(s-medium) {
            width: auto;
            height: auto;
            position: static;
        }

        .logo {
            width: 220px;
            max-width: none;

            @include breakpoints(m-large) {
                width: 240px;
            }
        }
    }

    &__lang-icon {
        width: 25px;
        height: 25px;
        fill: $text-color-5;
    }

    &__separator {
        width: 100%;
        height: 2px;
        background-color: $border-color;
    }

    .header {
        color: $text-color-5;
        font-size: 1.6rem;
        font-family: $font-family-2;
        text-transform: uppercase;
        line-height: 1.2;
        margin-top: 2px;

        &--has-toggle-mobile {
            position: relative;
            cursor: pointer;
            display: flex;

            &:before, &:after {
                position: absolute;
                right: 0;
                top: 40%;
                content: '';
                width: 14px;
                border: 2px solid $text-color-4;
                border-radius: 2px;
                border-top: 0;
                border-left: 0;
                transition: all .2s ease-in-out;

                @include breakpoints(s-medium) {
                    display: none;
                }

            }

            &:after {
                transform: translateY(0%) rotate(90deg);
            }
        }
    }

    &__sml {
        display: flex;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;

        justify-content: center;

        @include breakpoints(s-medium) {
            justify-content: flex-start;
        }

        li {
            list-style-type: none;
            margin-bottom: 0;

            a {
                padding: 1rem;
                display: block;
                transition: all .3s ease-in-out;
                color: $text-color-5;

                .icon {
                    font-size: 1.8rem;
                    width: 20px;
                    height: 20px;
                    fill: $text-color-5;

                }

                &:hover {

                    .icon {

                        fill: $text-color-4;
                    }
                }
            }

            &:first-of-type {
                a {
                    padding-left: 0;
                }
            }
        }
    }

    &__menu {
        position: relative;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in-out;
        padding-left: 0;
        margin-bottom: .5rem;

        &--show-default {
            height: auto;
            visibility: visible;
            opacity: 1;
            margin-bottom: 1.5rem;

            @include breakpoints(s-medium) {
                margin-bottom: 2rem;
            }
        }

        @include breakpoints(s-medium) {
            height: auto;
            visibility: visible;
            opacity: 1;
            margin-bottom: 2rem;
        }

        li {
            list-style-type: none;
            margin-bottom: 0;
            a {
                padding: .6rem 0;
                display: block;
                transition: all .3s ease-in-out;
                color: $text-color-4;
  
                &:hover {
                    color: $text-color-5;
                }
            }
        }
    }

    .form, .form-search {
        position: relative;

        &:before {
            position: absolute;
            right: 15px;
            top: 45%;
            content: '';
            width: 12px;
            height: 12px;
            border: 2px solid $text-color-4;
            border-radius: 2px;
            transform: translateY(-50%) rotate(45deg);
            border-top: 0;
            border-left: 0;
            transition: all .2s ease-in-out;
            pointer-events: none;

        }

        select, .form__control {
            -webkit-appearance: none;
            appearance: none;
            background-color: $quarternary-color !important;
            @extend .btn;
            font-family: $font-family;
            padding: 1rem 2rem !important;
            text-align: left;
            width: auto;
            font-size: 1.6rem;
            color: #ccc !important;
            width: 100%;

            &::-webkit-input-placeholder {
                color: #ccc !important;
            }
            &:-moz-placeholder {
                color: #ccc !important;
            }
            &::-moz-placeholder {
                color: #ccc !important;
            }
            &:-ms-input-placeholder {
                color: #ccc !important;
            }
        }
    }

    .form-search {
        max-width: 260px;
        margin: auto;

        @include breakpoints(s-medium) {
            margin-left: 0;
        }

        &:before {
            display: none;
        }

        input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
        input[type=search]::-ms-reveal {  display: none; width : 0; height: 0;}
        
        /* clears the 'X' from Chrome */
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration { display: none;}
        

        .btn-search {
            background-color: transparent;
            border: 0;
            outline: none;
            position: absolute;
            top: 6px;
            right: 10px;
            cursor: pointer;

            .icon {
                font-size: 3rem;
                color: #ccc;
            }
        }

    }

    &__payments {
        display: flex;
        margin-bottom: 0;
        padding-left: 0;

        @include breakpoints(medium) {
            justify-content: flex-end;
        }

        li {
            margin: 0 .5rem;
            list-style-type: none;
            background-color: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;

            img {
                width: 35px;
                height: auto;
            }
        }
    }

    &__checkbox-toogle[type=checkbox]:checked {
        ~ .footer__menu {
            height: auto;
            visibility: visible;
            opacity: 1;
            margin-bottom: 1.5rem;

            @include breakpoints(s-medium) {
                margin-bottom: 2rem;
            }
        }

        + .header--has-toggle-mobile {
            &:after {
                opacity: 0;
            }
        }
    }

    .sub-menu{
        padding-left: 1.5rem !important;
    }

    .hp-menu {
        .sub-menu, #menu-item-5397 {
            display: none !important;
        }
    }

}

.landerMain #menu-help-support .sub-menu {
    display: none !important;
}