html[dir="rtl"] {

    direction: rtl;
    overflow-x: hidden;

    .listing__icon {
        margin-left: 1.5rem;
        margin-right: 0;
    }
    
    .footer { 
        .header--has-toggle-mobile:before {
            left: 0;
            right: unset !important;
        }

        .form-search .form__control, .form-search select, .form .form__control, .form select {
            text-align: right;
        }

        .form-search .btn-search {
            left: 30px;
            right: unset;
        }

        &__copy-right {

            @include breakpoints(medium) {
                text-align: right !important;
            }
        }

    }

    .form-search:before, .footer .form:before {
        right: auto;
        left: 1.5rem;
    }


    nav {
        .site-brand {
            margin-left: auto;
            margin-right: 0;
        }
    }



    input[type=email], input[type=number], input[type=password], input[type=search], input[type=text], select, textarea {
        text-align: right;
    }

    .form__group {
        .has-icon, .icon-arrow {
            left: 1.5rem;
            right: unset;
        }
    }

    .mr-md-3 {
        @include breakpoints(medium) {
            margin-right: 0rem !important;
            margin-left: 1rem !important;
        }
    }

    .rtl-ml-md-0 {
        @include breakpoints(medium) {
            margin-left: auto !important;
            margin-right: 0 !important;
        }
    }

    .mr-4 {
        margin-right: 0 !important;
        margin-left: 1.5rem !important;
    }

    .listing__content {
        text-align: right;
    }

    .btn.has-arrow, .footer .form-search .has-arrow.form__control, .footer .form-search select.has-arrow, .footer .form .has-arrow.form__control, .footer .form select.has-arrow, input.has-arrow[type=submit] {
        direction: ltr;
    }

    .text-align-md-right {
        @include breakpoints(medium) {
            text-align: left !important;
        }
    }

    .ml-md-0, .mx-md-0 {
        @include breakpoints(medium) {
            margin-left: unset !important;
            margin-right: 0 !important;
        }
    }

    .mr-md-5 {
        @include breakpoints(medium) {
            margin-right: 0 !important;
            margin-left: 3rem !important;
        }
    }

    .mr-5 {
        margin-right: 0 !important;
        margin-left: 3rem !important;
    }

    .layout-ltr {
        direction: ltr;
    }


    .rtl-text-align-center--md {
        @include breakpoints(medium) {
            text-align: right !important;
        }
    }

    .text-align-md-left {
        @include breakpoints(medium) {
            text-align: right !important;
        }
    }


    .nav{
        &.show-menu .nav__menu-container {
            left: unset;
            left: 2rem;
            right: unset;
        }

        &.bg-color {
            .nav__menu-container {
                left: 0%;
                right: unset;
            }

            .nav__menu-toggle {
                @include breakpoints(medium) {
                    margin-left: 3rem;
                }
            }
        }

        &__menu-toggle{
            flex-direction: row-reverse;
        }

        &__dropdown-menu{
            left: 0;
            right: unset;
            
            li a {
                text-transform: none;
            }
        }

    }
    
    .trl-row-reverse {
        flex-direction: row-reverse;
    }
    
    
}